* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

ul {
  margin: 0 1rem;
}
ul li {
  margin: 1rem 0;
}

main {
  padding: 2rem;
}
main > :not(:last-child) {
  margin-bottom: 1em;
}

#home_index #search > * {
  display: block;
  margin: 1em 0;
}
#home_index #search label {
  width: 100%;
}
#home_index #search input {
  width: calc(100% - 1rem - 4px);
  height: 2rem;
  padding: 0 0.5rem;
}
#home_index #search button {
  width: 50%;
  height: 2rem;
  margin: auto;
}

#search ul {
  list-style: none;
}

#function_show #description {
  padding: 1rem;
}
#function_show ul {
  list-style: none;
}
