$theme-phel-background-color: hsl(257, 57%, 41%);
$theme-phel-color: hsl(0, 100%, 100%);

@mixin phel-theme {
  background-color: $theme-phel-background-color;
  color: $theme-phel-color;
}

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

ul {
  margin: 0 1rem;

  li {
    margin: 1rem 0;
  }
}

main {
  padding: 2rem;

  & > :not(:last-child) {
    margin-bottom: 1em;
  }
}
